.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/00_preprocessing/.snakemake/*
scripts/00_preprocessing/slurm.*
cluster2/*
collapsed_isos/*
fastqc/*
aligned/*
collapse/*
mapped/*
correct/*
flair_outputs/*
sample_overview/*
results_flair/*
results_isoseq/*
rObjects/*
metadata/*
GRCh38/*
merged_SMRTcells/*